/*ALL PAGES*/
span{
    font-family: Andale, monospace;
}
body.otherpages{
    background-color:#f9f2da;
    background-image: url('../../images/sunflower.jpg');
    background-repeat:repeat-x;
    background-position:bottom;
}
a{
    font-family: Andale, monospace;
}
div{
    font-family: Andale, monospace;
    overflow-x:hidden;
}
li{
    font-family: Andale, monospace;
}
h1{
    color:#4f482e;
}

/*INDEX PAGE*/
body.indexpage{
    /*Create flowers to wrap around the dotted lines!!!*/
    background-color:#f9f2da;
    background-image: url('../../images/sunflower.jpg');
    background-repeat:repeat-x;
    background-position:bottom;
}
#aboutbutton1 {
    background-color:#e9bf59;
    padding:15px;
    font-size:40px;
    margin-left: 24%;
}
#aboutbutton1:hover {
    background-color:#e8b12d;
    padding:15px;
    font-size:50px;
    margin-left: 24%;
}
#skillsbutton1 {
    background-color:#e9bf59;
    padding:15px;
    font-size:40px;
    float: right;
    margin-right: 25%;
    bottom: 20px;
}
#skillsbutton1:hover {
    background-color:#e8b12d;
    padding:15px;
    font-size:50px;
    margin-left: 25%;
}
#passionsbutton1 {
    background-color:#e9bf59;
    padding:15px;
    font-size:40px;
    float: right;
    margin-right: 25%;
}
#passionsbutton1:hover {
    background-color:#e8b12d;
    padding:15px;
    font-size:50px;
    margin-left: 25%;
}
#contactbutton1 {
    background-color:#e9bf59;
    padding:15px;
    font-size:40px;
    margin-left: 24%;
}
#contactbutton1:hover {
    background-color:#e8b12d;
    padding:15px;
    font-size:50px;
    margin-left: 24%;
}
#projectsbutton1 {
    background-color:#e9bf59;
    padding:15px;
    font-size:40px;
    margin-left: 24%;
}
#projectsbutton1:hover {
    background-color:#e8b12d;
    padding:15px;
    font-size:50px;
    margin-left: 24%;
}
#vdotline {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 22%;
    background-repeat: no-repeat;
    size: 50%;
}
#vdotlinem {
    padding-top: 30px;
    margin-left: 22%;
    background-repeat: no-repeat;
    size: 50%;
}
#vdotliner {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left:67%;
    background-repeat: no-repeat;
    size: 50%;
}
#vdotlinerm {
    padding-top: 30px;
    margin-left: 67%;
    background-repeat: no-repeat;
    size: 50%;
}
#hdotline1 {
    transform: rotate(90deg);
    margin-left: 28%;
}
#hdotline {
    transform: rotate(90deg);
}
#logoheader{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
#credits{
    margin-left: 12.5%;
}

/*NAVIGATION LINKS*/
nav{
    border:2px solid #331f00;
    padding: 5px;
}
ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.main{
    float: left;
}
li.main a {
    display:block;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:#e9bf59;
}
li.main a:hover{
    background-color:#e8b12d;
}
#active{
    background-color:#e8b12d;
}
a:link{
    text-decoration: none;
    color:#331f00;
}
a:visited{
    color:#331f00;
}

/*PROJECTS PAGE*/

/*Alphabet selector*/
html{
    scroll-behavior: smooth;
}
div.letter{
    background-color:#e9bf59;
    display:table-cell;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 40px;
    border: 2px solid #331f00;
}
ul.alphabet{
    list-style-type: none;
    background-color: #e9bf59;
    float:left;
    padding:15px;
    font-size: 25px;
    color: #331f00;
    border: 2px solid #331f00;
    position: fixed;
    top:9%;
    left:1%;
    overflow-y:scroll;
    overflow-x:hidden;
    height:80%;
}
td.alpha{
    width:5%;
}

/*Entire page*/
table.projects{
    width: 100%;
    padding:30px;
}
tr.projecctstr{
    vertical-align: top;
}

/*Main text*/
img.projectsimages{
    width: 150px;
    display: table-cell;
    padding: 10px;
}
p.projectsbox{
    border: 2px solid #331f00;
    background-color: #fbdd9d81;
    overflow-y:scroll;
    overflow-x:hidden;
}
td.projectmaintext{
    width:75%;
    display: table-cell;
}
span.projectsdescription{
    display: table-cell;
}

/*Key*/
td.key{
    display:table-cell;
    width:20%;
    position:fixed;
    top:15%;
    right:1%;
}
div.keybox{
    background-color: #fbdd9d81;
    border: 2px solid #331f00;
    padding:15px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
div.colorselector{
    width:30px;
    height:30px;
    display:table-cell;
}
#key{
    font-size: 20pt;
    padding-left: 20px;
    display:table-cell;
}
#designcs{
    background-color: #b3c3a4;
}
#tinyhomecs{
    background-color: #e0cbbc;
}
#artcs{
    background-color: #c0a8a4;
}
#writingcs{
    background-color: #748c58;
}
#webdevcs{
    background-color: #a26420;
}
#progcs{
    background-color: #a95039;
}
#gamecs{
    background-color: #d7a27f;
}
span.colorseltext{
    font-size: 15pt;
    display:table-cell;
}


/*PASSIONS/SKILLS PAGE*/
div.strengthsbutton{
    background-color: #e9bf59;
    padding-left: 15px;
    padding-right: 15px;
    padding:5px;
    font-size: 15pt;
    width:13%;
    border: 2px solid #331f00;
    text-align: center;
    margin-left:30px;
}
div.strengthsbox{
    background-color:#e9be5986;
    width:75%;
    height:300px;
    padding: 50px;
    position:relative;
    left:10%;
    right:10%;
    border: 2px solid #331f00;
    overflow-y:scroll;
    overflow-x:hidden;
}
span.strengthstext{
    text-align: left;
    font-size: 15pt;
}
img.strengthsimg{
    width:150px;
    float:right;
    padding:20px;
}
ul.strengthslinks{
    list-style-type:circle;
    text-align: left;
    font-size: 15pt;
}

/*SUB-SKILLS & PASSIONS*/
div.substrengthsbox{
    background-color:#e9be5986;
    width:50%;
    height:550px;
    padding: 50px;
    position:relative;
    left:10%;
    right:10%;
    border: 2px solid #331f00;
    overflow-y:scroll;
    overflow-x:hidden;
    height:50%;
}
span.substrengthstext{
    text-align: left;
    font-size: 15pt;
}
img.substrengthsimg1{
    background-color:#e9be5986;
    border: 2px solid #331f00;
    width:175px;
    float:right;
    margin-right:15%;
    position: relative;
    bottom: 20%;
}
img.substrengthsimg2{
    background-color:#e9be5986;
    border: 2px solid #331f00;
    width:175px;
    float:right;
    margin-right:15%;
    position: relative;
    bottom: 45%;
    left:24.5%;
}
img.substrengthsimg3{
    background-color:#e9be5986;
    border: 2px solid #331f00;
    width:175px;
    float:right;
    margin-right:15%;
    position: relative;
    bottom: 70%;
    left:49%;
}
ul.substrengthslinks{
    list-style-type:circle;
    text-align: left;
    font-size: 15pt;
}
div.back{
    background-color: #e9bf59;
    border: 2px solid #331f00;
    width:5%;
    position:relative;
    left:70%;
    bottom:7%;
}
#backtext{
    padding-left:30px;
    font-family: Andale, monospace;
}

/*CONTACT PAGE*/
div.businessemail{
    background-color: #e9bf59;
    padding:15px;
    width:100;
    border: 2px solid #331f00;
    position:relative;
    top:45px;
}
div.emaildescript{
    position: relative;
    top: -25px;
    left: 150px;
    background-color: #e9be598a;
    padding:15px;
    border: 2px solid #331f00;
    width:800px;
}

/*ABOUT PAGE*/

#professionalphoto{
    width:150px;
    border: 2px solid #331f00;
    float: left;
    margin:20;
}
div.prophoto{
    background-color: #e9be5983;
    border: 2px solid #331f00;
    width:60%;
    height: 190px;
    margin-left:auto;
    margin-right:auto;
}
#prophototext{
    padding: 15px;
    margin-left: 20px;
    font-family: Andale mono, monospace;
}
#quote{
    padding: 15px;
    position:relative;
    top:15px;
    left:250px;
    font-family: Andale mono, monospace;
}
div.quotebox{
    background-color: #e9be5983;
    border: 2px solid #331f00;
    width:60%;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}
div.personaldescript{
    background-color: #e9be5983;
    border: 2px solid #331f00;
    width:50%;
    height: 100px;
    margin-left: 30%;
    margin-right:auto;
}
span.personaltext{
    font-family: Andale mono, monospace;
}
img.personalimg{
    width: 100px;
    border: 2px solid #331f00;
    position: relative;
    top: 11%;
    left: 22%;
}
div.personaldescript2{
    background-color: #e9be5983;
    border: 2px solid #331f00;
    width:50%;
    height: 100px;
    margin-left: 22%;
    margin-right:auto;
}
span.personaltext2{
    font-family: Andale mono, monospace;
}
img.personalimg2{
    width: 100px;
    border: 2px solid #331f00;
    position: relative;
    top: 11%;
    left: 75%;
}
